.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.calculator {
  background: rgb(69, 68, 68);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.display {
  background: #252525;
  color: white;
  padding:25px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 2em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  background: #e0e0e0;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #c0c0c0;
}

button.zero {
  grid-column: span 2;
}

button:active {
  background: #a0a0a0;
}
